In [1]:
import numpy as np
import pandas as pd

In [2]:
data_transform = pd.read_csv("/home/madhav/Desktop/College_Project/CDMC2017_T3_FraudDetection_Train_Data.csv")

/home/madhav/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_transform.head()

,Media_Type,Amount,Loan_Types,Mercnt_Size,Failed_Trans,Freq_Trans,No_Trans,Last_mth_Tr,AM0PM1,Country
0,FT,4298,Personal,0,0,7,2,1,1,Other
1,PA,5070,Home_Loan,5070,0,5,5,1,0,AU
2,FT,321,Credit,0,0,1,2,2,1,Other
3,PA,6488,Personal,0,0,3,1,1,0,AU
4,OTT,9122,Business,0,0,2,2,1,1,Other

In [4]:
data_label = pd.read_csv("/home/madhav/Desktop/College_Project/Datsa_Source#2/CDMC2017_T3_FraudDetection_Train_Label.csv")

In [5]:
data_transform['Response'] = data_label

In [6]:
data=data_transform

In [7]:
data.shape

(70000, 11)

In [8]:
data.columns

Index(['Media_Type', 'Amount', 'Loan_Types', 'Mercnt_Size', 'Failed_Trans',
       'Freq_Trans', 'No_Trans', 'Last_mth_Tr', 'AM0PM1', 'Country',
       'Response'],
      dtype='object')

In [9]:
data['Media_Type'].unique()

array(['FT', 'PA', 'OTT', 'BPAY'], dtype=object)

In [10]:
data['Loan_Types'].unique()

array(['Personal', 'Home_Loan', 'Credit', 'Business', 'Other',
       'Pers_Loan'], dtype=object)

In [11]:
data['Country'].unique()

array(['Other', 'AU', 'UK', 'NL', 'ZA', 'NG', 'CZ', 'US', 'AR'],
      dtype=object)

In [12]:
data['Response'].unique()

array(['Non', 'Fraud', 'Anon', nan], dtype=object)

In [13]:
# Conversion of variable into string . Dummy variable can only be formed from string.
data['Last_mth_Tr'] = np.array(data['Last_mth_Tr'].values,dtype=np.str)

In [14]:
data['Last_mth_Tr'].unique()

array(['1', '2', '  ', '3', '4', '5'], dtype=object)

In [15]:
# Making dummy variable for categorical variables

data = pd.get_dummies(data,columns=['Media_Type','Loan_Types','Last_mth_Tr'])

In [16]:
#data = data.drop(data.columns[[6,26,27,28,29,30]], axis=1)

In [17]:
data.columns

Index(['Amount', 'Mercnt_Size', 'Failed_Trans', 'Freq_Trans', 'No_Trans',
       'AM0PM1', 'Country', 'Response', 'Media_Type_BPAY', 'Media_Type_FT',
       'Media_Type_OTT', 'Media_Type_PA', 'Loan_Types_Business',
       'Loan_Types_Credit', 'Loan_Types_Home_Loan', 'Loan_Types_Other',
       'Loan_Types_Pers_Loan', 'Loan_Types_Personal', 'Last_mth_Tr_  ',
       'Last_mth_Tr_1', 'Last_mth_Tr_2', 'Last_mth_Tr_3', 'Last_mth_Tr_4',
       'Last_mth_Tr_5'],
      dtype='object')

In [18]:
data.isnull().sum()
#data['Last_mth_Tr'].isnull().sum(axis=1)

Amount                  0
Mercnt_Size             0
Failed_Trans            0
Freq_Trans              0
No_Trans                0
AM0PM1                  0
Country                 0
Response                1
Media_Type_BPAY         0
Media_Type_FT           0
Media_Type_OTT          0
Media_Type_PA           0
Loan_Types_Business     0
Loan_Types_Credit       0
Loan_Types_Home_Loan    0
Loan_Types_Other        0
Loan_Types_Pers_Loan    0
Loan_Types_Personal     0
Last_mth_Tr_            0
Last_mth_Tr_1           0
Last_mth_Tr_2           0
Last_mth_Tr_3           0
Last_mth_Tr_4           0
Last_mth_Tr_5           0
dtype: int64

In [48]:
# Removing the missing values

#data['Response'].dropna()
#(data[data['Response']=='Anon']).head(5) # 6855 rows 
Anon_data = (data[data['Response']=='Anon'])

Anon_data[['Mercnt_Size','Failed_Trans','Freq_Trans','No_Trans','Media_Type_BPAY', 'Media_Type_FT',
       'Media_Type_OTT', 'Media_Type_PA', 'Loan_Types_Business',
       'Loan_Types_Credit', 'Loan_Types_Home_Loan', 'Loan_Types_Other',
       'Loan_Types_Pers_Loan', 'Loan_Types_Personal', 'Last_mth_Tr_  ',
       'Last_mth_Tr_1', 'Last_mth_Tr_2', 'Last_mth_Tr_3', 'Last_mth_Tr_4',
       'Last_mth_Tr_5']].describe()

#data[data['Response']=='nan']   # 0 rows
#data[data['Response']=='Fraud'] # 21562 rows
#data[data['Response']=='Non'] # 41582 rows

,Mercnt_Size,Failed_Trans,Freq_Trans,No_Trans,Media_Type_BPAY,Media_Type_FT,Media_Type_OTT,Media_Type_PA,Loan_Types_Business,Loan_Types_Credit,Loan_Types_Home_Loan,Loan_Types_Other,Loan_Types_Pers_Loan,Loan_Types_Personal,Last_mth_Tr_,Last_mth_Tr_1,Last_mth_Tr_2,Last_mth_Tr_3,Last_mth_Tr_4,Last_mth_Tr_5
count,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000,6855.0,6855.000000,6855.000000,6855.000000,6855.000000,6855.000000
mean,362.860686,7.359154,14.150985,3.558862,0.040992,0.220423,0.048724,0.689861,0.074252,0.059956,0.089861,0.001605,0.002334,0.771991,0.0,0.708826,0.235449,0.018673,0.017651,0.019402
std,1322.490489,126.885842,14.620692,3.013151,0.198286,0.414562,0.215305,0.462584,0.262200,0.237423,0.286004,0.040029,0.048259,0.419579,0.0,0.454337,0.424310,0.135375,0.131690,0.137943
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,7.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,24.000000,4.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
max,10822.000000,3528.000000,50.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
#fraud_data=(data[data['Response']=='Fraud'])
#fraud_data.count()

#sum(fraud_data['AM0PM1']) ## pm = 10713  am = 21562 - 10713 = 10849

#fraud_data.groupby('Country').count() # Maximum number of fraud has taken place in AU and ZA 

# .za is the Internet country code top-level domain (ccTLD) for South Africa.
# .au, the internet country code for Australia.
fraud_data[['Mercnt_Size','Failed_Trans','Freq_Trans','No_Trans','Media_Type_BPAY', 'Media_Type_FT',
       'Media_Type_OTT', 'Media_Type_PA', 'Loan_Types_Business',
       'Loan_Types_Credit', 'Loan_Types_Home_Loan', 'Loan_Types_Other',
       'Loan_Types_Pers_Loan', 'Loan_Types_Personal', 'Last_mth_Tr_  ',
       'Last_mth_Tr_1', 'Last_mth_Tr_2', 'Last_mth_Tr_3', 'Last_mth_Tr_4',
       'Last_mth_Tr_5']].describe()
#(data[data['Response']=='Fraud']).head(5)
# Exporting the file :
#data.to_csv("final_data.csv")

,Mercnt_Size,Failed_Trans,Freq_Trans,No_Trans,Media_Type_BPAY,Media_Type_FT,Media_Type_OTT,Media_Type_PA,Loan_Types_Business,Loan_Types_Credit,Loan_Types_Home_Loan,Loan_Types_Other,Loan_Types_Pers_Loan,Loan_Types_Personal,Last_mth_Tr_,Last_mth_Tr_1,Last_mth_Tr_2,Last_mth_Tr_3,Last_mth_Tr_4,Last_mth_Tr_5
count,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000,21562.0,21562.000000,21562.000000,21562.000000,21562.000000,21562.000000
mean,360.352518,8.898572,14.052268,3.562378,0.039004,0.223495,0.051016,0.686485,0.070309,0.064883,0.090483,0.001530,0.003432,0.769363,0.0,0.702208,0.239171,0.020267,0.019386,0.018969
std,1322.303998,141.460924,14.568235,3.019106,0.193608,0.416597,0.220035,0.463932,0.255673,0.246324,0.286880,0.039092,0.058484,0.421250,0.0,0.457298,0.426587,0.140916,0.137880,0.136417
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,7.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,23.000000,4.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
max,10968.000000,3967.000000,50.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [47]:
#(data[data['Response']=='Non'] ).head(5)
NonFraud_data=(data[data['Response']=='Non'] )
NonFraud_data[['Mercnt_Size','Failed_Trans','Freq_Trans','No_Trans','Media_Type_BPAY', 'Media_Type_FT',
       'Media_Type_OTT', 'Media_Type_PA', 'Loan_Types_Business',
       'Loan_Types_Credit', 'Loan_Types_Home_Loan', 'Loan_Types_Other',
       'Loan_Types_Pers_Loan', 'Loan_Types_Personal', 'Last_mth_Tr_  ',
       'Last_mth_Tr_1', 'Last_mth_Tr_2', 'Last_mth_Tr_3', 'Last_mth_Tr_4',
       'Last_mth_Tr_5']].describe()

,Mercnt_Size,Failed_Trans,Freq_Trans,No_Trans,Media_Type_BPAY,Media_Type_FT,Media_Type_OTT,Media_Type_PA,Loan_Types_Business,Loan_Types_Credit,Loan_Types_Home_Loan,Loan_Types_Other,Loan_Types_Pers_Loan,Loan_Types_Personal,Last_mth_Tr_,Last_mth_Tr_1,Last_mth_Tr_2,Last_mth_Tr_3,Last_mth_Tr_4,Last_mth_Tr_5
count,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000,41582.000000
mean,379.332981,9.351354,13.990573,3.529869,0.039007,0.220288,0.049444,0.691261,0.068780,0.060026,0.089125,0.001154,0.004016,0.776899,0.000024,0.695686,0.243880,0.019431,0.020730,0.020249
std,1375.071061,146.251145,14.518731,2.985751,0.193615,0.414446,0.216797,0.461979,0.253082,0.237538,0.284928,0.033956,0.063247,0.416331,0.004904,0.460122,0.429426,0.138038,0.142481,0.140853
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,6.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,23.000000,4.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,10982.000000,3948.000000,50.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data.drop[data['Response'] ==  ]

In [ ]:
# Deciding dependent and Independent variables in the dataset 

X = data.drop('CHURN',axis=1)
y = final_data['CHURN']