In [52]:
import pandas as pd  
import numpy as np

In [53]:
dataset = pd.read_csv("/home/madhav/Desktop/MADHAV/finaldata.csv")

In [55]:
dataset.head(5)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
3,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False
4,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False

In [56]:
# Data Preparation
dataset['international plan'] = np.where(dataset['international plan']=='Yes', 1,0)
dataset['voice mail plan'] = np.where(dataset['voice mail plan']=='Yes', 1,0)
dataset['churn'] = np.where(dataset['churn']==True, 1,0)

In [57]:
# Making dummy variable for categorical variables

dataset = pd.get_dummies(dataset,columns=['area code','customer service calls'])

In [58]:
dataset = dataset.drop(['state','phone number'], axis=1)

In [60]:
# Labels are the values we want to predict
labels = np.array(dataset['churn'])
features= dataset.drop('churn', axis = 1)

In [61]:
# Remove the labels from the features
# axis 1 refers to the columns
features= dataset.drop('churn', axis = 1)

In [7]:
# Convert to numpy array
features = np.array(features)

In [8]:
dataset['is_train'] = np.random.uniform(0, 1, len(dataset)) <= .70

In [9]:
dataset.head(5)

,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn,is_train
0,128,0,0,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0,True
1,107,0,0,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,False
2,137,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,False
3,84,0,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0,False
4,75,0,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0,True

In [29]:
#train, test = dataset[dataset['is_train']==True], dataset[dataset['is_train']==False]

In [66]:
# Import train_test_split function
from sklearn.model_selection import train_test_split
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(features,labels, test_size=0.3,random_state=109)

In [30]:
# Show the number of observations for the test and training dataframes
#print('Number of observations in the training data:', len(train))
#print('Number of observations in the test data:',len(test))

Number of observations in the training data: 2349
Number of observations in the test data: 984

In [67]:
# Remove the labels from the features
# axis 1 refers to the columns
y= dataset.drop('churn', axis = 1)

In [68]:
y.columns

Index(['account length', 'international plan', 'voice mail plan',
       'number vmail messages', 'total day minutes', 'total day calls',
       'total day charge', 'total eve minutes', 'total eve calls',
       'total eve charge', 'total night minutes', 'total night calls',
       'total night charge', 'total intl minutes', 'total intl calls',
       'total intl charge', 'area code_408', 'area code_415', 'area code_510',
       'customer service calls_1', 'customer service calls_2',
       'customer service calls_3'],
      dtype='object')

In [69]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest Classifier. By convention, clf means 'Classifier'
clf = RandomForestClassifier(n_jobs=2, random_state=0)

In [71]:
# Train the Classifier to take the training features and learn how they relate
# to the training y (the species)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [73]:
# Apply the Classifier we trained to the test data (which, remember, it has never seen before)
y_pred = clf.predict(X_test)

In [76]:
# Create confusion matrix

from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score

print('Accuracy:', accuracy_score(y_test, y_pred))
print('F1 score:', f1_score(y_test , y_pred ))
print('Recall:', recall_score(y_test,  y_pred))
print('Precision:', precision_score(y_test,  y_pred))
print('\n clasification report:\n', classification_report(y_test, y_pred))
print('\n confussion matrix:\n',confusion_matrix(y_test,  y_pred))

Accuracy: 0.9299847792998478
F1 score: 0.5
Recall: 0.35384615384615387
Precision: 0.8518518518518519

 clasification report:
              precision    recall  f1-score   support

          0       0.93      0.99      0.96       592
          1       0.85      0.35      0.50        65

avg / total       0.93      0.93      0.92       657


 confussion matrix:
 [[588   4]
 [ 42  23]]

In [51]:
# View a list of the features and their importance scores
list(zip(train[features.columns], clf.feature_importances_))

[('account length', 0.03717985236340912),
 ('international plan', 0.0),
 ('voice mail plan', 0.0),
 ('number vmail messages', 0.04468477128983353),
 ('total day minutes', 0.1766815856910434),
 ('total day calls', 0.04886932702635152),
 ('total day charge', 0.1203120177682497),
 ('total eve minutes', 0.06140077938854656),
 ('total eve calls', 0.04379937401623274),
 ('total eve charge', 0.07755775735890738),
 ('total night minutes', 0.04930476464326937),
 ('total night calls', 0.04627567759930837),
 ('total night charge', 0.0430280207973382),
 ('total intl minutes', 0.03827113228537733),
 ('total intl calls', 0.03416907427327534),
 ('total intl charge', 0.04853880432307707),
 ('customer service calls', 0.1299270611757804),
 ('is_train', 0.0)]

In [ ]:
##https://chrisalbon.com/machine_learning/trees_and_forests/random_forest_classifier_example/