In [1]:
#Import scikit-learn dataset library
from sklearn import datasets
import pandas as pd  
import numpy as np

In [2]:
dataset = pd.read_csv("/home/madhav/Desktop/MADHAV/finaldata.csv")

In [3]:
# Data Preparation
dataset['international plan'] = np.where(dataset['international plan']=='Yes', 1,0)
dataset['voice mail plan'] = np.where(dataset['voice mail plan']=='Yes', 1,0)
dataset['churn'] = np.where(dataset['churn']==True, 1,0)

In [4]:
print(dataset.head(5))

dataset.describe()

  state  account length  area code phone number  international plan  \
0    KS             128        415     382-4657                   0
1    OH             107        415     371-7191                   0
2    OK              75        415     330-6626                   0
3    IA             168        408     363-1107                   0
4    MT              95        510     394-8006                   0

   voice mail plan  number vmail messages  total day minutes  total day calls  \
0                0                     25              265.1              110
1                0                     26              161.6              123
2                0                      0              166.7              113
3                0                      0              128.8               96
4                0                      0              156.6               88

   total day charge  ...    total eve calls  total eve charge  \
0             45.07  ...                 99             16.78
1             27.47  ...                103             16.62
2             28.34  ...                122             12.61
3             21.90  ...                 71              8.92
4             26.62  ...                 75             21.05

   total night minutes  total night calls  total night charge  \
0                244.7                 91               11.01
1                254.4                103               11.45
2                186.9                121                8.41
3                141.1                128                6.35
4                192.3                115                8.65

   total intl minutes  total intl calls  total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                10.1                 3               2.73
3                11.2                 2               3.02
4                12.3                 5               3.32

   customer service calls  churn
0                       1      0
1                       1      0
2                       3      0
3                       1      0
4                       3      0

[5 rows x 21 columns]

,account length,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
count,2188.000000,2188.000000,2188.0,2188.0,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000,2188.000000
mean,100.466636,437.345978,0.0,0.0,8.173675,179.535695,100.595064,30.521563,200.689625,100.118373,17.058821,200.135512,100.376143,9.006133,10.312523,4.548903,2.784899,1.687843,0.103291
std,39.520159,42.513760,0.0,0.0,13.713910,52.280929,19.285182,8.887697,48.585649,19.057230,4.129858,48.374990,18.931415,2.176978,2.530404,2.479525,0.683209,0.759574,0.304408
min,1.000000,408.000000,0.0,0.0,0.000000,37.700000,49.000000,6.410000,67.000000,51.000000,5.700000,67.700000,48.000000,3.050000,4.000000,1.000000,1.080000,1.000000,0.000000
25%,73.000000,408.000000,0.0,0.0,0.000000,143.375000,87.750000,24.375000,167.275000,87.000000,14.217500,167.000000,87.000000,7.520000,8.600000,3.000000,2.320000,1.000000,0.000000
50%,100.500000,415.000000,0.0,0.0,0.000000,179.300000,101.000000,30.480000,201.050000,100.000000,17.090000,199.050000,101.000000,8.960000,10.300000,4.000000,2.780000,2.000000,0.000000
75%,127.000000,510.000000,0.0,0.0,20.250000,215.175000,114.000000,36.582500,233.725000,113.000000,19.862500,233.700000,113.000000,10.520000,12.100000,6.000000,3.270000,2.000000,0.000000
max,205.000000,510.000000,0.0,0.0,51.000000,322.500000,152.000000,54.830000,336.000000,154.000000,28.560000,329.200000,152.000000,14.810000,17.300000,20.000000,4.670000,3.000000,1.000000

In [5]:
# Making dummy variable for categorical variables

dataset = pd.get_dummies(dataset,columns=['area code','customer service calls'])
dataset = dataset.drop(['state','phone number'], axis=1)

In [6]:
# Labels are the values we want to predict
y = np.array(dataset['churn'])
X = dataset.drop('churn', axis = 1)

In [7]:
## Making the column name in upper case
dataset.columns=map(str.upper,dataset.columns)
#data.columns

In [8]:
## Subset variables
final_data=dataset[['ACCOUNT LENGTH','NUMBER VMAIL MESSAGES','TOTAL DAY MINUTES', 'TOTAL DAY CALLS',
        'TOTAL EVE MINUTES', 'TOTAL EVE CALLS',
        'TOTAL NIGHT MINUTES', 'TOTAL NIGHT CALLS',
        'TOTAL INTL MINUTES', 'TOTAL INTL CALLS']]

In [9]:
from sklearn import preprocessing
clustervar = final_data.copy()
clustervar['ACCOUNT LENGTH']=preprocessing.scale(clustervar['ACCOUNT LENGTH'].astype('float64'))
clustervar['NUMBER VMAIL MESSAGES']=preprocessing.scale(clustervar['NUMBER VMAIL MESSAGES'].astype('float64'))
clustervar['TOTAL DAY MINUTES']=preprocessing.scale(clustervar['TOTAL DAY MINUTES'].astype('float64'))
clustervar['TOTAL DAY CALLS']=preprocessing.scale(clustervar['TOTAL DAY CALLS'].astype('float64'))
#clustervar['TOTAL DAY CHARGE']=preprocessing.scale(clustervar['TOTAL DAY CHARGE'].astype('float64'))
clustervar['TOTAL EVE MINUTES']=preprocessing.scale(clustervar['TOTAL EVE MINUTES'].astype('float64'))
clustervar['TOTAL EVE CALLS']=preprocessing.scale(clustervar['TOTAL EVE CALLS'].astype('float64'))
#clustervar['TOTAL EVE CHARGE']=preprocessing.scale(clustervar['TOTAL EVE CHARGE'].astype('float64'))
clustervar['TOTAL NIGHT MINUTES']=preprocessing.scale(clustervar['TOTAL NIGHT MINUTES'].astype('float64'))
clustervar['TOTAL NIGHT CALLS']=preprocessing.scale(clustervar['TOTAL NIGHT CALLS'].astype('float64'))
#clustervar['TOTAL NIGHT CHARGE']=preprocessing.scale(clustervar['TOTAL NIGHT CHARGE'].astype('float64'))
clustervar['TOTAL INTL MINUTES']=preprocessing.scale(clustervar['TOTAL INTL MINUTES'].astype('float64'))
clustervar['TOTAL INTL CALLS']=preprocessing.scale(clustervar['TOTAL INTL CALLS'].astype('float64'))
#clustervar['TOTAL INTL CHARGE']=preprocessing.scale(clustervar['TOTAL INTL CHARGE'].astype('float64'))

In [10]:
strdata = pd.DataFrame(clustervar)

In [11]:
#Concatenatinating the dataset 
final_data = pd.concat([strdata,dataset['INTERNATIONAL PLAN'],dataset['VOICE MAIL PLAN'],
       dataset['CHURN'], dataset['AREA CODE_408'], dataset['AREA CODE_415'],
       dataset['AREA CODE_510'], dataset['CUSTOMER SERVICE CALLS_1'], dataset['CUSTOMER SERVICE CALLS_2'],
       dataset['CUSTOMER SERVICE CALLS_3']], axis=1)

In [12]:
final_data.columns

Index(['ACCOUNT LENGTH', 'NUMBER VMAIL MESSAGES', 'TOTAL DAY MINUTES',
       'TOTAL DAY CALLS', 'TOTAL EVE MINUTES', 'TOTAL EVE CALLS',
       'TOTAL NIGHT MINUTES', 'TOTAL NIGHT CALLS', 'TOTAL INTL MINUTES',
       'TOTAL INTL CALLS', 'INTERNATIONAL PLAN', 'VOICE MAIL PLAN', 'CHURN',
       'AREA CODE_408', 'AREA CODE_415', 'AREA CODE_510',
       'CUSTOMER SERVICE CALLS_1', 'CUSTOMER SERVICE CALLS_2',
       'CUSTOMER SERVICE CALLS_3'],
      dtype='object')

In [13]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=109,stratify=y) # 70% training and 30% test

In [14]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear',C=1.0,class_weight='balanced') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [15]:
X_train.head(5)

,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,...,total night charge,total intl minutes,total intl calls,total intl charge,area code_408,area code_415,area code_510,customer service calls_1,customer service calls_2,customer service calls_3
1073,176,0,0,23,283.2,130,48.14,162.6,74,13.82,...,8.00,7.2,6,1.94,0,1,0,1,0,0
47,70,0,0,0,170.2,98,28.93,155.2,102,13.19,...,10.29,15.0,2,4.05,1,0,0,1,0,0
1600,138,0,0,0,251.0,119,42.67,91.2,96,7.75,...,6.40,13.8,3,3.73,0,1,0,0,0,1
1479,113,0,0,0,92.6,85,15.74,177.6,92,15.10,...,7.19,14.4,4,3.89,0,0,1,0,0,1
695,88,0,0,0,215.6,115,36.65,216.2,85,18.38,...,7.71,11.8,1,3.19,0,1,0,0,0,1

In [17]:
from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score

print('Accuracy:', accuracy_score(y_test, y_pred))
print('F1 score:', f1_score(y_test , y_pred ))
print('Recall:', recall_score(y_test,  y_pred))
print('Precision:', precision_score(y_test,  y_pred))
print('\n clasification report:\n', classification_report(y_test, y_pred))
print('\n confussion matrix:\n',confusion_matrix(y_test,  y_pred))

Accuracy: 0.7625570776255708
F1 score: 0.36065573770491804
Recall: 0.6470588235294118
Precision: 0.25

 clasification report:
              precision    recall  f1-score   support

          0       0.95      0.78      0.85       589
          1       0.25      0.65      0.36        68

avg / total       0.88      0.76      0.80       657


 confussion matrix:
 [[457 132]
 [ 24  44]]

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# from sklearn.svm import SVC 

# clf1 = SVC(kernel='poly',  C= 1)
# clf1.fit(X_train,y_train)
# prediction = clf1.predict(X_test)


# from sklearn.metrics import precision_score,recall_score, confusion_matrix, classification_report,accuracy_score, f1_score

# print('Accuracy:', accuracy_score(y_test, prediction))
# print('F1 score:', f1_score(y_test , prediction ))
# print('Recall:', recall_score(y_test,  prediction))
# print('Precision:', precision_score(y_test,  prediction))
# print('\n clasification report:\n', classification_report(y_test, prediction))
# print('\n confussion matrix:\n',confusion_matrix(y_test,  prediction))

In [ ]:
# https://www.datacamp.com/community/tutorials/svm-classification-scikit-learn-python

In [ ]:
print(help(precision_score(y_test,  y_pred)))