##                                            -------------------------------
##                                           | WNS Python Training |
##                                            ------------------------------

## Day-1: Session Starts!

## 1. Print

In [73]:
#Printing the text
print("This is my first line of code in python")

This is my first line of code in python

In [74]:
print("Hello Everyone,\n\nThis is in the next line")

Hello Everyone,

This is in the next line

In [76]:
# Storing Text(In Python terms "String")
name = "Jolly Nate"

In [77]:
# Checking the type of variable
type(name)
# Tip-1:Any string or character in python will be written with the double Quote("") or Single Quote('')

str

## 2. Integer and Numeric Type

In [78]:
# Printing integer
print(7)

7

In [79]:
# Integer Type 
first_int = 7
type(first_int)

int

In [80]:
# Numeric Type(In Python, it's FLOAT)
float_var = 7.1
type(float_var)

float

## 3. Arithmetic Operations

In [81]:
# Adding two integers 
a = 16
b = 3

In [82]:
# Addition
a+b

19

In [83]:
# String Additions
print("RAM" + " Shyam")

RAM Shyam

In [84]:
# Subtraction 
a-b

13

In [85]:
# Multiplication 
a*b

48

In [86]:
# Division 
a/b

5.333333333333333

In [87]:
# // (divide and floor) or int() can also give the same result
a//b

5

In [88]:
# % (modulo)[Remainder]
a%b

1

In [89]:
# ** Square 
a**b

4096

In [90]:
#BODMAS:
((4/5)-1+(10/2*2)+4)

13.8

In [91]:
# Python shortcuts
num = 5
num += 1
num

6

In [92]:
num -= 1
print(num)

5

In [93]:
#Logical Operators
print(3 < 4)

True

In [94]:
print(True and False)

False

In [95]:
# Upper Case & Lower case
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [96]:
some_sentence = "There is a space at the end    "

In [97]:
some_sentence.strip()

'There is a space at the end'

In [98]:
# Right Strip
some_sentence.rstrip()

'There is a space at the end'

In [99]:
increment = "4%"
type(increment)
print(increment.strip('%')) 
type(increment)

4

str

In [101]:
# Left Strip 
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [102]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [103]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [104]:
# Special Case: The format method (Its a new way of optimising the python codes)

# we may want to construct strings from combination of information. This is where the format() method is useful.

# For Example, 

Age = 24
Name = "Chiranjeev"
print("My name is {1} and I am {0} years old".format(Age,Name))

My name is Chiranjeev and I am 24 years old

In [105]:
# Type Conversion
# Sometimes it is necessary to convert one data type into another. This can be done by using typecasting 

# Converting string to numeric float type 
float("3.145")

3.145

In [106]:
# Converting string to numeric int type 
int("3")

3

In [107]:
# PPT Example

X1 = "Chiranjeev"
X2 = "Rohan"
X3 = 24
X4 = 27
X5 = "WNS"

print("{0} and {1} both are engaged with {4}. {1}'s age is {3} and {0}'s age is {2}".format(X1,X2,X3,X4,X5))

Chiranjeev and Rohan both are engaged with WNS. Rohan's age is 27 and Chiranjeev's age is 24

## 4. Problem Solving Skills: Business Problem

In [39]:
# A marketing person wants to send an automatic personalise email to few target customers: 
# He wants to promote some of the companies products such as computer in INR 30000, DSLR in INR 15000 
# or Iphone in INR 22000. 

# Below is a Subject and mail body resp, to be sent through an email:

# Subject 
'''
Hurry Up! [customer_name] - This offer available to you only!
'''

# Mail Body
'''
Good Morning [Customer_Name], 

I have a great deal for you today! 
We are selling [Product_Name] in INR [Product_Price] to you with [offer_percentage] discount. Please visit our website now to get more
information!

Thanks, 
Raj
'''

# Now, you need to send this email to: Rohan and sale him computer in 30000 with 6000 discount:

'\nGood Morning [Customer_Name], \n\nI have a great deal for you today! \nWe are selling [Product_Name] in INR [Product_Price] to you with [offer_percentage] discount. Please visit our website now to get more\ninformation!\n\nThanks, \nRaj\n'

In [42]:
# Input Variables 
Customer_Name = 'Rohan'
Product_Price = 40000
offer_amount = 6000
Product_Name = 'Computer'

In [108]:
Subject = "Hurry Up! " + Customer_Name + " - This offer available to you only!"
mail_body = "Good Morning "+ Customer_Name+",\n\nI have a great deal for you today! \nWe are selling " + Product_Name+" in INR "+str(Product_Price)+" to you with "+str(int((offer_amount/Product_Price)*100)) +"% discount. Please visit our website now to get more information \n\nThanks,\nRaj"

In [109]:
print(mail_body)

Good Morning Rohan,

I have a great deal for you today!
We are selling Computer in INR 40000 to you with 15% discount. Please visit our website now to get more information

Thanks,
Raj

## 5. Outlook Application

In [110]:
# Outlook Setup 
import win32com.client as win32
outlook = win32.Dispatch('outlook.application')

In [111]:
mail = outlook.CreateItem(0)
mail.To = 'chiranjeev.patidar@wns.com'
mail.Subject = Subject
mail.Body = mail_body

In [112]:
# Mail Displaying 
mail.display()

In [150]:
# Sending email
mail.Send()

## 6. Lists

In [48]:
# Data structures are a special way of storing and accessing data and 
# play an important role in manipulations as well. 
# We will be covering the most widely used python data structures starting with lists. 
# Function Type: []

# Example-1
initial_list = []
print(initial_list)

# Example-2
list_1 = [1,2,4]
print(list_1)

# Example-3
Prog_language = ['R','Python', 'SAS', 'Scala', 42]
print(Prog_language)

[]
[1, 2, 4]
['R', 'Python', 'SAS', 'Scala', 42]

In [49]:
# Subseting, Slicing, Dicing Lists 

# Printing first element of list 'Prog_language'
print(Prog_language[4])
print(type(Prog_language[4]))
print(type(Prog_language[2]))

42
<class 'int'>
<class 'str'>

In [50]:
print(Prog_language[1:3])

['Python', 'SAS']

In [51]:
print(Prog_language[0:2])

['R', 'Python']

In [52]:
# Appending two lists 
list_1 = [1,2,34]
list_2 = ['ram','romeo','ravan']
list_2.append(list_1)
print(list_2)

['ram', 'romeo', 'ravan', [1, 2, 34]]

In [55]:
list_2[3][1]

2

In [57]:
# Adding two lists elements in one list
list_1 = [1,2,34]
list_2 = ['ram','romeo','ravan']
print(list_1+list_2)

[1, 2, 34, 'ram', 'romeo', 'ravan']

In [58]:
list_2

['ram', 'romeo', 'ravan']

In [59]:
# Or extend() can also help us join two lists elementwise
list_2.extend(list_1)

list_2

['ram', 'romeo', 'ravan', 1, 2, 34]

In [54]:
# Subtracting common elements from 1st list
list_1 = ['Ram',"Raj","Rome","Rahul"]
list_2 = ['Rome','Ram',12,34]

list_3 = list(set(list_1)- set(list_2))
print(list_3)

['Raj', 'Rahul']

In [60]:
# Replacing elements values in the list 
print(list_1)
list_1[0] = "Shyam"
print(list_1)

[1, 2, 34]
['Shyam', 2, 34]

In [62]:
# Splitting the text into list elements
mail = "Hi CP, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks."

In [63]:
sentences_in_mail = mail.split('.')
print(sentences_in_mail)

["Hi CP, this is to inform you that I'm not well today", " I won't be coming to office, but I'm available on call", ' Thanks', '']

In [64]:
# Counting total elements
len(sentences_in_mail)

4

In [66]:
# Joining all the list elements into a single element
mail = "----".join(sentences_in_mail)
print(mail)

Hi CP, this is to inform you that I'm not well today---- I won't be coming to office, but I'm available on call---- Thanks----

In [113]:
# Slicing the string elements
val = ["2 apples","123"]
no_of_apples = val[0][0] 
print('Number of apples is', no_of_apples)

Number of apples is 2

In [70]:
type(val)

str

In [68]:
# Printing "apples"
print(val[7])
print(val[2:])
print(val[2:8])

s
apples
apples

In [272]:
#slicing by specifying start and end index
print(val[2:5])

app

In [62]:
# Example 
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [63]:
# deleting the last two characters from the string
print(batch[ :-2])

5 oranges 3 monkeys

In [64]:
# Extracting only specific portion of data 
animals = batch[10:-2]
print(animals)

3 monkeys

## 7. Problem Solving Skills: Business Problem (Continue...) Application of lists

In [65]:
# Old way of sending emails
# Input Variables 
Customer_Name = 'Rohan'
Product_Price = 40000
offer_amount = 6000
Product_Name = 'Computer'

In [66]:
cust_info = [['Rohan',40000,6000,'Computer'],
             ['Chiranjeev',50000,5000,'DSLR'],
             ['Ram',70000,12000,'Apple Laptop'],
             ['Ravan',80000,5000,'Computer']]

In [67]:
# Below is a Subject and mail body resp, to be sent through an email:

# Subject 
'''
Hurry Up! [customer_name] - This offer available to you only!
'''

# Mail Body
'''
Good Morning [Customer_Name], 

I have a great deal for you today! 
We are selling [Product_Name] in INR [Product_Price] to you with [offer_percentage] discount. Please visit our website now to get more
information!

Thanks, 
Raj
'''

'\nGood Morning [Customer_Name], \n\nI have a great deal for you today! \nWe are selling [Product_Name] in INR [Product_Price] to you with [offer_percentage] discount. Please visit our website now to get more\ninformation!\n\nThanks, \nRaj\n'

In [68]:
# First Customer
mail_body_cust1 = ("Good Morning {0},\n\nI have a great deal for you today! \nWe are selling {3} in INR {1} to you with {4}% discount. Please visit our website now to get more information \n\nThanks,\nRaj").format(cust_info[0][0],cust_info[0][1],cust_info[0][2],cust_info[0][3],(cust_info[0][2]/cust_info[0][1])*100)
print(mail_body_cust1)

Good Morning Rohan,

I have a great deal for you today!
We are selling Computer in INR 40000 to you with 15.0% discount. Please visit our website now to get more information

Thanks,
Raj

In [69]:
# Second Customer
mail_body_cust2 = ("Good Morning {0},\n\nI have a great deal for you today! \nWe are selling {3} in INR {1} to you with {4}% discount. Please visit our website now to get more information \n\nThanks,\nRaj").format(cust_info[1][0],cust_info[1][1],cust_info[1][2],cust_info[1][3],(cust_info[1][2]/cust_info[1][1])*100)
print(mail_body_cust2)

Good Morning Chiranjeev,

I have a great deal for you today!
We are selling DSLR in INR 50000 to you with 10.0% discount. Please visit our website now to get more information

Thanks,
Raj

In [70]:
# Third Customer
mail_body_cust3 = ("Good Morning {0},\n\nI have a great deal for you today! \nWe are selling {3} in INR {1} to you with {4}% discount. Please visit our website now to get more information \n\nThanks,\nRaj").format(cust_info[2][0],cust_info[2][1],cust_info[2][2],cust_info[2][3],int((cust_info[2][2]/cust_info[2][1])*100))
print(mail_body_cust3)

Good Morning Ram,

I have a great deal for you today!
We are selling Apple Laptop in INR 70000 to you with 17% discount. Please visit our website now to get more information

Thanks,
Raj

In [71]:
# Forth Customer
mail_body_cust4 = ("Good Morning {0},\n\nI have a great deal for you today! \nWe are selling {3} in INR {1} to you with {4}% discount. Please visit our website now to get more information \n\nThanks,\nRaj").format(cust_info[3][0],cust_info[3][1],cust_info[3][2],cust_info[3][3],int((cust_info[3][2]/cust_info[3][1])*100))
print(mail_body_cust4)

Good Morning Ravan,

I have a great deal for you today!
We are selling Computer in INR 80000 to you with 6% discount. Please visit our website now to get more information

Thanks,
Raj

## 8. Tuples

In [73]:
# Tuples are data structures that are similar to lists in all aspects except in the way 
# they are declared and how much they allow themselves to be modified.
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [74]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [75]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [76]:
# Tuples are immutable. We cann't change the values inside any tuple
new_tuple[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [77]:
# Negative index in Tuples: Similar to Lists
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [78]:
# Converting list to tuple
c = list(b)
print("c is: {0}".format(c))


c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [79]:
# Appending of two or more tuples are not possible
d = ('12',"123")
c.extend(d)

AttributeError: 'tuple' object has no attribute 'extend'

In [80]:
# Addition of two tuples are possible 
print(c+d)

('Mumbai', 18.9949521, '12', '123')

## 9. Dictionaries

In [81]:
# Empty Dictionary
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [71]:
# Example-1 
bio_data = {'Name': 'Bob romeo', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob romeo', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [83]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [72]:
age = bio_data['Age']
print(age)

# OR 

age = bio_data.get('Age')
print(age)

35
35

In [85]:
# Changing Value in bio_data dictionary 
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob romeo', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [86]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby']
['Bob romeo', 36, '5.6 ft', 'Music']

In [87]:
# Creating new dictionary 
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])
print(new_dictionary)

{'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [88]:
# Updating the bio_data dictionary with additional information 
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob romeo', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [89]:
# Example-2
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [90]:
# Printing length of dictionary i.e total count of keys in dict
print(len(students_data))

5

In [91]:
#see all the details of students in lists. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [92]:
# Adding 6th students details in student data dict
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [93]:
# Deleting 2nd key of dictionary
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [94]:
# Nested Dict.
Dictionary= {1: 'Geeks', 2: 'For', 3: {'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}}

In [95]:
Dictionary

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [114]:
import flask