In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
#from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
#from sklearn.cross_validation import train_test_split
import seaborn as sns
#import dataset 
from statistics import mode

In [2]:
# Data Import
train_data = pd.read_csv("/home/madhav/Desktop/WNS_Competition/train_LZdllcl.csv")

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null float64
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(2), int64(8), object(4)
memory usage: 5.9+ MB

In [4]:
train_data.shape

(54808, 14)

In [44]:
(train_data['is_promoted']).value_counts()

0    50140
1     4668
Name: is_promoted, dtype: int64

In [45]:
NOT_PROMOTED=50140*100/54808
PROMOTED    =

In [46]:
train_data['is_promoted'].value_counts()/np.sum(train_data['is_promoted'].value_counts().values)*100

0    91.482995
1     8.517005
Name: is_promoted, dtype: float64

In [5]:
train_data['department'].unique()

array(['Sales & Marketing', 'Operations', 'Technology', 'Analytics',
       'R&D', 'Procurement', 'Finance', 'HR', 'Legal'], dtype=object)

In [6]:
train_data['region'].unique()

array(['region_7', 'region_22', 'region_19', 'region_23', 'region_26',
       'region_2', 'region_20', 'region_34', 'region_1', 'region_4',
       'region_29', 'region_31', 'region_15', 'region_14', 'region_11',
       'region_5', 'region_28', 'region_17', 'region_13', 'region_16',
       'region_25', 'region_10', 'region_27', 'region_30', 'region_12',
       'region_21', 'region_8', 'region_32', 'region_6', 'region_33',
       'region_24', 'region_3', 'region_9', 'region_18'], dtype=object)

In [7]:
train_data['education'].unique()

array([ 3.,  2., nan,  1.])

In [8]:
train_data.groupby(['education']).count()

,employee_id,department,region,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
education,,,,,,,,,,,,,
1.0,805,805,805,805,805,805,805,458,805,805,805,805,805
2.0,36669,36669,36669,36669,36669,36669,36669,33404,36669,36669,36669,36669,36669
3.0,14925,14925,14925,14925,14925,14925,14925,14798,14925,14925,14925,14925,14925

In [9]:
(train_data['education']==2).value_counts()

True     36669
False    18139
Name: education, dtype: int64

In [10]:
train_data['gender'].unique()

array(['f', 'm'], dtype=object)

In [11]:
train_data['recruitment_channel'].unique()

array(['sourcing', 'other', 'referred'], dtype=object)

In [12]:
train_data['no_of_trainings'].unique()

array([ 1,  2,  3,  4,  7,  5,  6,  8, 10,  9])

In [13]:
train_data['age'].unique()

array([35, 30, 34, 39, 45, 31, 33, 28, 32, 49, 37, 38, 41, 27, 29, 26, 24,
       57, 40, 42, 23, 59, 44, 50, 56, 20, 25, 47, 36, 46, 60, 43, 22, 54,
       58, 48, 53, 55, 51, 52, 21])

In [14]:
train_data['previous_year_rating'].unique()

array([ 5.,  3.,  1.,  4., nan,  2.])

In [15]:
train_data.groupby(['previous_year_rating']).count()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
previous_year_rating,,,,,,,,,,,,,
1.0,6223,6223,6223,5887,6223,6223,6223,6223,6223,6223,6223,6223,6223
2.0,4225,4225,4225,4035,4225,4225,4225,4225,4225,4225,4225,4225,4225
3.0,18618,18618,18618,17867,18618,18618,18618,18618,18618,18618,18618,18618,18618
4.0,9877,9877,9877,9509,9877,9877,9877,9877,9877,9877,9877,9877,9877
5.0,11741,11741,11741,11362,11741,11741,11741,11741,11741,11741,11741,11741,11741

In [16]:
train_data['length_of_service'].unique()

array([ 8,  4,  7, 10,  2,  5,  6,  1,  3, 16,  9, 11, 26, 12, 17, 14, 13,
       19, 15, 23, 18, 20, 22, 25, 28, 24, 31, 21, 29, 30, 34, 27, 33, 32,
       37])

In [17]:
train_data['KPIs_met >80%'].unique()

array([1, 0])

In [18]:
train_data['awards_won?'].unique()

array([0, 1])

In [19]:
train_data['avg_training_score'].unique()

array([49, 60, 50, 73, 85, 59, 63, 83, 54, 77, 80, 84, 51, 46, 75, 57, 70,
       68, 79, 44, 72, 61, 48, 58, 87, 47, 52, 88, 71, 65, 62, 53, 78, 91,
       82, 69, 55, 74, 86, 90, 92, 67, 89, 56, 76, 81, 45, 64, 39, 94, 93,
       66, 95, 42, 96, 40, 99, 43, 97, 41, 98])

In [20]:
train_data['is_promoted'].unique()

array([0, 1])

In [21]:
################### Calculation of missing values in the data ###########################

(train_data[train_data.apply(lambda x: x.count(), axis=1)< 14]).count# 6148 rows have missing values

<bound method DataFrame.count of        employee_id         department     region  education gender  \
10           29934         Technology  region_23        NaN      m
21           33332         Operations  region_15        NaN      m
23           71177        Procurement   region_5        2.0      m
29           74759  Sales & Marketing   region_4        2.0      m
32           35465  Sales & Marketing   region_7        NaN      f
43           17423  Sales & Marketing   region_2        NaN      m
56           45709  Sales & Marketing  region_31        2.0      f
58           26599  Sales & Marketing  region_16        2.0      m
62            9150          Analytics  region_22        2.0      f
66           77981            Finance  region_22        2.0      m
67           16502  Sales & Marketing  region_22        2.0      m
82           66013  Sales & Marketing   region_2        NaN      m
84           44575              Legal   region_7        2.0      m
87           69094  Sales & Marketing   region_2        NaN      m
89            9589  Sales & Marketing  region_31        2.0      f
90           62658  Sales & Marketing   region_2        NaN      f
96           64109         Technology  region_26        2.0      f
111          51444                 HR  region_13        2.0      f
123          41746         Operations  region_22        2.0      f
125           5461          Analytics   region_8        2.0      m
127          66874  Sales & Marketing  region_27        2.0      f
135           5102         Operations   region_7        2.0      m
141          50593            Finance  region_23        2.0      m
160          45157                 HR   region_4        2.0      m
178          28314            Finance  region_26        2.0      m
189           6254         Operations   region_2        NaN      f
204          60761         Operations  region_16        NaN      f
214          17833          Analytics   region_4        2.0      m
220          43676        Procurement   region_2        2.0      m
231          57235  Sales & Marketing  region_26        NaN      m
...            ...                ...        ...        ...    ...
54587        39089         Operations  region_31        NaN      m
54588        29221  Sales & Marketing  region_28        2.0      m
54591        45472         Operations  region_22        1.0      m
54596        43241  Sales & Marketing   region_2        NaN      m
54599         7570  Sales & Marketing  region_23        NaN      m
54606        15401          Analytics   region_2        NaN      m
54611        55808  Sales & Marketing  region_28        2.0      m
54624        57131            Finance   region_2        2.0      m
54627        19097  Sales & Marketing  region_26        2.0      m
54629         9682         Operations  region_23        2.0      f
54632        48169        Procurement   region_4        2.0      m
54638        45494  Sales & Marketing  region_19        2.0      m
54655         2349          Analytics   region_7        NaN      m
54659        64521         Technology   region_2        2.0      f
54666         4348        Procurement  region_31        2.0      f
54671        14949          Analytics  region_32        NaN      m
54683        16933  Sales & Marketing   region_4        2.0      m
54686        56112          Analytics  region_22        NaN      f
54690        51079          Analytics   region_6        2.0      f
54692        14821  Sales & Marketing   region_2        NaN      f
54700        28029         Technology  region_26        2.0      f
54703        74615                R&D  region_31        2.0      m
54717         7684          Analytics   region_2        NaN      m
54729         1797                 HR   region_2        NaN      f
54734        11685         Operations  region_15        2.0      m
54742        38935  Sales & Marketing  region_31        NaN      m
54746        10546            Finance   region_6        2.0      m
54773        37919            Finance   region_2        2.0      m
54801        12431         Technology  region_26        2.0      f
54806        13614  Sales & Marketing   region_9        NaN      m

      recruitment_channel  no_of_trainings  age  previous_year_rating  \
10               sourcing                1   30                   NaN
21               sourcing                1   41                   4.0
23                  other                1   27                   NaN
29               sourcing                1   26                   NaN
32               sourcing                1   24                   1.0
43                  other                3   24                   2.0
56                  other                1   29                   NaN
58                  other                2   27                   NaN
62                  other                1   28                   NaN
66                  other                1   27                   NaN
67               sourcing                1   27                   NaN
82               sourcing                2   25                   3.0
84                  other                1   29                   NaN
87               sourcing                1   39                   1.0
89                  other                1   31                   NaN
90               sourcing                1   20                   NaN
96               sourcing                1   23                   NaN
111                 other                1   30                   NaN
123              sourcing                1   27                   NaN
125                 other                1   28                   NaN
127                 other                1   30                   NaN
135              sourcing                1   24                   NaN
141              sourcing                1   31                   NaN
160                 other                1   27                   NaN
178                 other                1   23                   NaN
189                 other                1   33                   4.0
204                 other                1   31                   4.0
214              sourcing                1   28                   NaN
220                 other                4   29                   NaN
231                 other                1   22                   4.0
...                   ...              ...  ...                   ...
54587            sourcing                1   27                   2.0
54588            sourcing                1   30                   NaN
54591               other                1   26                   NaN
54596            sourcing                1   36                   1.0
54599               other                1   24                   2.0
54606            sourcing                1   31                   2.0
54611               other                1   25                   NaN
54624               other                1   24                   NaN
54627               other                1   23                   NaN
54629            sourcing                1   30                   NaN
54632               other                1   28                   NaN
54638               other                1   29                   NaN
54655               other                2   25                   4.0
54659            sourcing                2   25                   NaN
54666               other                1   26                   NaN
54671            sourcing                1   27                   3.0
54683            sourcing                1   27                   NaN
54686            sourcing                1   28                   3.0
54690               other                1   27                   NaN
54692            sourcing                1   35                   3.0
54700            sourcing                1   29                   NaN
54703            sourcing                1   30                   NaN
54717            sourcing                1   32                   3.0
54729               other                1   28                   3.0
54734            sourcing                1   31                   NaN
54742               other                1   28                   4.0
54746               other                1   28                   NaN
54773               other                1   23                   NaN
54801            sourcing                1   31                   NaN
54806            sourcing                1   29                   1.0

       length_of_service  KPIs_met >80%  awards_won?  avg_training_score  \
10                     1              0            0                  77
21                    11              0            0                  57
23                     1              0            0                  70
29                     1              0            0                  44
32                     2              0            0                  48
43                     2              0            0                  48
56                     1              0            0                  49
58                     1              1            0                  47
62                     1              1            0                  80
66                     1              1            1                  58
67                     1              0            0                  61
82                     2              0            0                  53
84                     1              0            0                  65
87                     9              0            0                  49
89                     1              0            0                  51
90                     1              0            0                  55
96                     1              0            0                  77
111                    1              1            0                  54
123                    1              1            0                  58
125                    1              1            0                  83
127                    1              0            0                  50
135                    1              1            0                  56
141                    1              1            0                  56
160                    1              1            0                  50
178                    1              0            0                  61
189                    9              0            0                  64
204                    2              0            0                  62
214                    1              0            0                  85
220                    1              0            0                  68
231                    2              0            0                  51
...                  ...            ...          ...                 ...
54587                  1              0            0                  59
54588                  1              0            0                  53
54591                  1              0            0                  64
54596                  5              0            0                  49
54599                  3              0            0                  48
54606                  6              0            0                  81
54611                  1              1            0                  54
54624                  1              0            0                  71
54627                  1              0            0                  51
54629                  1              1            0                  61
54632                  1              0            0                  74
54638                  1              0            0                  50
54655                  3              0            0                  83
54659                  1              0            0                  79
54666                  1              1            0                  65
54671                  2              0            0                  84
54683                  1              0            0                  53
54686                  1              0            0                  86
54690                  1              0            0                  81
54692                  7              0            0                  53
54700                  1              0            0                  82
54703                  1              1            0                  88
54717                  4              0            0                  86
54729                  2              0            0                  53
54734                  1              1            0                  56
54742                  3              0            0                  47
54746                  1              1            0                  61
54773                  1              1            0                  61
54801                  1              0            0                  78
54806                  2              0            0                  45

       is_promoted
10               0
21               0
23               0
29               0
32               0
43               0
56               0
58               0
62               0
66               1
67               1
82               0
84               1
87               0
89               0
90               0
96               0
111              0
123              0
125              0
127              0
135              0
141              0
160              0
178              0
189              0
204              0
214              0
220              0
231              0
...            ...
54587            0
54588            0
54591            0
54596            0
54599            0
54606            0
54611            0
54624            1
54627            0
54629            0
54632            0
54638            0
54655            0
54659            0
54666            0
54671            0
54683            0
54686            0
54690            0
54692            0
54700            0
54703            0
54717            0
54729            0
54734            1
54742            0
54746            0
54773            0
54801            0
54806            0

[6148 rows x 14 columns]>

In [22]:
len(train_data.columns)

14

In [23]:
train_data.isnull().sum(axis=0)

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [25]:
data=train_data.dropna()

In [26]:
data.isnull().sum(axis=0)

employee_id             0
department              0
region                  0
education               0
gender                  0
recruitment_channel     0
no_of_trainings         0
age                     0
previous_year_rating    0
length_of_service       0
KPIs_met >80%           0
awards_won?             0
avg_training_score      0
is_promoted             0
dtype: int64

In [27]:
data.head(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,3.0,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,2.0,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,2.0,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,2.0,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,2.0,m,other,1,45,3.0,2,0,0,73,0

In [33]:
data=data.drop(data.columns[[0,1,2,4,5]],axis=1)

In [34]:
data.head(5)

,education,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,3.0,1,35,5.0,8,1,0,49,0
1,2.0,1,30,5.0,4,0,0,60,0
2,2.0,1,34,3.0,7,0,0,50,0
3,2.0,2,39,1.0,10,0,0,50,0
4,2.0,1,45,3.0,2,0,0,73,0

In [47]:
data['is_promoted'].value_counts()/np.sum(data['is_promoted'].value_counts().values)*100

## This is the case of class imbalance

0    91.302918
1     8.697082
Name: is_promoted, dtype: float64